* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(img/1.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 100vh;
      overflow-y: hidden!important;
}
a{
text-decoration: none;
}
.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
background: white;
}
@media (min-width: 768px) {
.container {
  width: 750px;
}
}
@media (min-width: 992px) {
.container {
  width: 985px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1190px;
}
}
@media screen and (min-width: 1400px) {
.container {
  width: 1390px;
}
}
@media screen and (min-width: 1600px) {
.container {
  width: 1590px;
}
}
@media screen and (min-width: 1900px) {
.container {
  width: 1890px;
}
}
@media screen and (min-width: 2600px) {
.container {
  width: 2500px;
}
}
@media screen and (min-width: 3000px) {
.container {
  width: 2600px;
}
}
.capitalize {
text-transform: capitalize;
}
.uppercase {
text-transform: uppercase;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.main {
  display: flex;
  float: right;
  padding: 44px 44px 79px 44px;
  flex-direction: column;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.75);
  margin-right: 118px;
  font-family: 'Poppins';
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header a {
  color:#779341;
}

.user-div {
  display: flex;
  justify-content: space-between;
}

.main h1 {
  margin-bottom: 30px;
}


.input-form {
  margin-bottom: 15px;
  padding: 16px 15px;  
  position: relative;
  background: #FFFFFF;
  border: 1px solid #4285F4;
  box-sizing: border-box;
  border-radius: 9px;
  width: 100%;
  outline: none;
}

.div-2 {
  width: 47%;
}
.div-3 {
display: flex;
justify-content: space-between;
align-content: flex-end;
}

.forgot-pass {
float: right;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px
}

.margin-top-1 {
margin-top: 30px;
}

.input-form2 {
  margin-bottom: 15px;
  padding: 16px 15px;  
  position: relative;
  background: #FFFFFF;
  border: 1px solid #4285F4;
  box-sizing: border-box;
  border-radius: 9px;
  outline: none;
}

.btn-div {
display: flex;
justify-content: flex-end;
  color:rgb(255, 255, 255)
}

.btn-div2 {
display: flex;
justify-content: flex-end;
margin-top: 44px;
color:rgb(255, 255, 255)
}

.btn {
  margin-top: 19px;
  width: 236px;
  height: 54px;
  background: #779341;
  border-radius: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

.div-3 button:first-child{
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 68px;
background-color: #E9F1FF;
border-radius: 9px;
margin-right: 15px;
border-width: 0;
}

.not-first-btn {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 18px;
border-radius: 9px;
margin-right: 15px;
border-width: 0;
}

.green-txt {
  position: relative;
  color: #779341;
}
.logo {
margin: 31px 0 0 42px;
  font-family: 'Poppins';
}


@media(max-width: 600px) {
 
  .input-form {
      background: #FFFFFF;
      border: 1px solid #4285F4;
      box-sizing: border-box;
      border-radius: 9px;
  }
  
  .btn {

      background: #779341;
      box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
      border-radius: 10px;
  }
  
  .green-txt {
      position: relative;
      color: #779341;
  }

}